* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: system-ui;
  background-color: #413F54;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  margin: 0% 40px;
}

.header {
  background-color: #5F5AA2;
  height: 72px;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
}
.header .logo a {
  text-decoration: none;
  color: whitesmoke;
}
.header .user-image {
  cursor: pointer;
}
.header .user-image img {
  width: 38px;
  height: 38px;
}
.header .search-bar {
  width: 50%;
  display: flex;
  justify-content: center;
}
.header .search-bar form {
  display: flex;
  width: 70%;
  justify-content: center;
}
.header .search-bar input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  outline: none;
}
.header .search-bar button {
  padding: 0px 1rem;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.footer {
  background-color: #5F5AA2;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 100%;
}
.footer .text {
  text-align: center;
}

.movie-wrapper .movie-list {
  margin: 20px 0pc;
}
.movie-wrapper .movie-list h2 {
  font-size: 20px;
  margin: 2rem 0;
  color: whitesmoke;
  background-color: #355691;
  border-radius: 2px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.movie-wrapper .shows-list {
  margin: 20px 0pc;
}
.movie-wrapper .shows-list h2 {
  font-size: 20px;
  margin: 2rem 0;
  color: whitesmoke;
  background-color: #355691;
  text-align: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-item {
  background-color: #30292F;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s;
}
.card-item a {
  text-decoration: none;
}
.card-item:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.card-item .card-top {
  height: 400px;
}
.card-item .card-top img {
  width: 100%;
  height: 100%;
}
.card-item .card-bottom {
  min-height: 150px;
}
.card-item .card-bottom .card-info {
  color: whitesmoke;
  text-align: center;
  padding: 1rem 0;
}
.card-item .card-bottom .card-info h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  color: whitesmoke;
  font-weight: 400;
}
.movie-section .section-left {
  width: 60%;
}
.movie-section .section-left .movie-title {
  font-size: 40px;
  color: white;
}
.movie-section .section-left .movie-rating {
  margin-top: 20px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.movie-section .section-left .movie-rating span {
  display: flex;
  align-items: center;
}
.movie-section .section-left .movie-rating span .icon {
  font-size: 1.2rem;
  margin: 0 0.4rem;
}
.movie-section .section-left .movie-rating .star {
  color: gold;
}
.movie-section .section-left .movie-rating .like {
  color: orange;
}
.movie-section .section-left .movie-rating .film {
  color: rgb(0, 0, 0);
}
.movie-section .section-left .movie-rating .calendar {
  color: rgb(0, 0, 108);
}
.movie-section .section-left .movie-plot {
  margin: 2rem 1rem 2rem 0;
  line-height: 1.8rem;
}
.movie-section .section-left .movie-info > div span:first-child {
  padding: 10px 0px;
  color: white;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}
.movie-section .section-left .movie-info > div span {
  color: rgb(211, 211, 254);
}
.movie-section .section-right {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
}
.movie-section .section-right .gradient {
  border-radius: 10px;
  position: absolute;
  background-color: #355691;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.movie-section .section-right img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.box {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #413F54;
}

.box .b {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ro 2s infinite;
}

.box .b1 {
  border-color: #4a69bd;
  width: 120px;
  height: 120px;
}

.box .b2 {
  border-color: #f6b93b;
  width: 100px;
  height: 100px;
  animation-delay: 0.2s;
}

.box .b3 {
  border-color: #2ecc71;
  width: 80px;
  height: 80px;
  animation-delay: 0.4s;
}

.box .b4 {
  border-color: #34495e;
  width: 60px;
  height: 60px;
  animation-delay: 0.6s;
}

@keyframes ro {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.flex-container .text-center {
  text-align: center;
}
.flex-container .text-center h1,
.flex-container .text-center h3 {
  margin: 10px;
  cursor: default;
}
.flex-container .text-center h1 .fade-in,
.flex-container .text-center h3 .fade-in {
  animation: fadeIn 2s ease infinite;
}
.flex-container .text-center h1 {
  font-size: 8em;
  transition: font-size 200ms ease-in-out;
  border-bottom: 1px dashed white;
}
.flex-container .text-center h1 span#digit1 {
  animation-delay: 200ms;
}
.flex-container .text-center h1 span#digit2 {
  animation-delay: 300ms;
}
.flex-container .text-center h1 span#digit3 {
  animation-delay: 400ms;
}
.flex-container .text-center button {
  border: 1px solid white;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: background-color 200ms ease-in;
  margin: 20px 0;
}
.flex-container .text-center button:hover {
  background-color: white;
  color: #555;
  cursor: pointer;
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }
  25% {
    background-color: royalblue;
  }
  50% {
    background-color: seagreen;
  }
  75% {
    background-color: tomato;
  }
  100% {
    background-color: #152a68;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}