.footer {
    background-color: $ultra-violet;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 100%;

    .text {
        text-align: center;
    }
}
