.header {
    background-color: $ultra-violet;
    height: 72px;
    padding: 8px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{text-decoration: none;}
    .logo{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 600;
    }
    .user-image{
        cursor: pointer;
        img{
            width: 38px;
            height: 38px;
        }
    }
}
