.movie-wrapper {
    .movie-list {
        margin: 20pc 0pc;
        h2 {
            color: whitesmoke;
        }
    }
}
.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}
